:root {
    --primary-color: #9ee2de;
    --secondary-color: #f0f0f0;
    --text-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

header img {
    border: 1px solid black;
    /* Corrected the border property */
    box-shadow: 1px 1px 1px 1px black;
    margin: 15px;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: .8rem;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.2rem;
}

nav a:hover {
    background-color: rgba(80, 76, 76, 0.876);
}

nav .active {
    background-color: rgba(180, 97, 97, 0.436);
}

/* start of hamburger menu */

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 160px;
    right: 2px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "▲";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    /* text-decoration: none; */
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

.navigation ul li a.active {
    font-weight: bold;
    text-decoration: underline;
}

.open a {
    display: block;
}

/* end of hamburger menu */

#mode {
    position: absolute;
    top: 170px;
    left: 2px;
    cursor: pointer;
    font-size: .8rem;
    color: darkblue;
    background-color: #fff;
}

main {
    margin: 0 3rem;
}

.hero {
    width: 100%;
    overflow: hidden;
}

.hero img {
    width: 100%;
    display: block;
    height: auto;
}

.cta {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 70%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    text-align: center;
}

.cta h2 {
    margin-top: 0;
}

.cta p {
    margin-bottom: 1rem;
}

.cta .button {
    display: inline-block;
    padding: 0.75rem 2rem;
    background-color: #052a51;
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 5px;
}

.cta .button:hover {
    background-color: #5e96d1;
}

@media screen and (max-width: 50rem) {
    .cta *:not(.button) {
        display: none;
    }

    .cta {
        background-color: transparent;
    }

    .discover {
        display: flex;
        flex-direction: column;
    }
}

.events-weather {
    display: inline;
    text-align: center;
}

.events,
.weather {
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.current-weather {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.current-weather .temp,
.current-weather .icon,
.current-weather .desc {
    margin: 0 10px;
}

.current-weather .desc {
    font-style: italic;
    font-weight: lighter;
}

.three-day-forecast {
    display: flex;
    justify-content: space-between;
}

.forecast-item {
    margin: 0 10px;
    font-style: italic;
}

.spotlights section {
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.spotlights img {
    animation: fade 5s ease forwards;
    box-shadow: 0 0 50px #333;
    margin: 20px auto;
}

.spotlights p,
.spotlights a {
    padding: 10px;
    font-style: italic;
}

.spotlights p {
    font-weight: bold;
    color: darkblue;
}

.spotlights a {
    font-weight: 100;
    font-size: small;
    color: red;
}


.dark-mode::after {
    color: #fff;
    /* Your dark mode color */
}

footer {
    background-color: var(--primary-color);
    margin-top: 10px;
    text-align: center;
    color: #292F36;
    justify-content: space-between;
    font-weight: bolder;
    padding: 10px;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.contact p {
    border-top: none;
}

#address {
    display: flex;
    align-items: center;
    justify-content: end;
}

#address p {
    margin: 0;
}

#address p span {
    display: block;
}

#address p span:first-child {
    color: var(--text-color);
    font-weight: bolder;
    font-size: large;
}

#site p a {
    font-style: inherit;
    color: inherit;
}

footer p {
    padding: 5px;
    border-top: 1px solid gray;
}

footer p:last-child {
    font-size: .9rem;
    border-top: none;
}

footer #name {
    color: var(--text-color);
    font-weight: bolder;
    font-size: large;
}

.discover {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 40px;
    margin-top: 20px;
}

.discover .cards {
    display: flex;
    flex-direction: column;
    margin: 10px;
    row-gap: 20px;
}

.pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pictures picture img {
    width: 100%;
    margin: 10px;
    opacity: 0;
    animation: fade 15s ease forwards;
}

.pictures picture img:hover {
    box-shadow: 0 0 50px #333;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.discover .card {
    margin-top: 10px;
}

#calendar {
    align-items: center;
}

.ty {
    text-align: center;
    height: 300px;
    margin-top: 40px;
    padding: 20px;
}

.ty h1 {
    color: darkblue;
}

.ty h2 {
    color: darkcyan;
}

.join {
    display: flex;
    padding: 0;
    justify-content: space-between;
    max-width: 100%;
}

.formContainer {
    flex: 1;
    justify-content: flex-end;
}

.benefitsContainer {
    flex: 1;
    display: none;
    margin-top: 80px;
    max-width: 600px;
    justify-content: flex-start;
}

.formChamber {
    max-width: 600px;
}

.formChamber h1 {
    text-align: left;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: -20px;
    color: darkblue;
}

.membershipBenefits h2 {
    text-align: left;
    color: darkblue;
}

.formChamber legend,
.membershipLevel h3 {
    color: #2d4286;
    padding: 0 .5rem;
    font-weight: bolder;
}

.formChamber fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.formChamber label,
.formChamber div,
.formChamber textarea {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .9rem;
}

.formChamber .membership label {
    color: #6f200e;
    font-weight: lighter;
    font-style: italic;
}

.formChamber input[type="radio"] {
    padding-top: 1rem;
    font-size: .9rem;
}

.formChamber input[type="text"],
.formChamber input[type="tel"],
.formChamber input[type="email"],
.formChamber textarea {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    padding: .75rem;
    color: #000;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.formChamber input[type="radio"] {
    margin-right: 6px;
}

.formChamber input[type="submit"] {
    border: none;
    background-image: linear-gradient(#286352, #236b52);
    color: whitesmoke;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}

.formChamber input:required {
    border-bottom: solid 5px darkcyan;
}

.formChamber input:required:valid {
    border-bottom: solid 5px darkgreen;
}

.membershipBenefits {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.membershipLevel {
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.membershipLevel ul {
    list-style-type: none;
    padding: 0;
}

.membershipLevel li {
    margin-left: 10px;
    display: block;
    padding-top: .5rem;
    color: #9c2c13;
    font-size: .9rem;
}

/* start of directory */
.toggle-menu {
    margin: 1rem auto;
    padding: .5rem;
    text-align: center;
}

.toggle-menu button {
    color: darkblue;
    font-weight: bold;
    padding: 10px;
    margin: auto 5px;
    border: 1px solid rgb(61, 49, 49);
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.toggle-menu button:hover {
    color: green;
    transform: scale(1.1);
}

.directory {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    padding: 10px;
}

section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #eee;
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.directory img {
    box-shadow: 0 0 30px #777;
    border: 1px solid #333;
    padding: 5px;
    margin: auto 10px;
}

.directory h3,
.directory p {
    padding: 4px;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    justify-content: center;
}

.list section {
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.list img {
    display: none;
}

.list section:nth-child(even) {
    background-color: white;
}
/* end of directory */

/* start of banner */
.banner {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    text-align: center;
}

.close-btn {
    cursor: pointer;
    float: right;
    font-size: 20px;
    margin-right: 10px;
}

.close-btn:hover {
    color: #721c24;
}
/* end of banner */