* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #9ee2de;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

header img {
    border: 1px black;
    box-shadow: 1px 1px 1px 1px black;
    margin: 15px;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: .8rem;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.2rem;
}

nav a:hover {
    background-color: rgba(80, 76, 76, 0.876);
}

nav .active {
    background-color: rgba(180, 97, 97, 0.436);
}

/* start of hamburger menu */

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 160px;
    right: 2px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "▲";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    /* text-decoration: none; */
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

.navigation ul li a.active {
    font-weight: bold;
    text-decoration: underline;
}

.open a {
    display: block;
}

/* end of hamburger menu */

#mode {
    position: absolute;
    top: 170px;
    left: 2px;
    cursor: pointer;
    font-size: .8rem;
    color: darkblue;
    background-color: #fff;
}

main {
    margin: 0 3rem;
}

.hero {
    width: 100%;
    overflow: hidden;
}

.hero img {
    width: 100%;
    display: block;
    height: auto;
}

.cta {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 70%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    text-align: center;
}

.cta h2 {
    margin-top: 0;
}

.cta p {
    margin-bottom: 1rem;
}

.cta .button {
    display: inline-block;
    padding: 0.75rem 2rem;
    background-color: #052a51;
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 5px;
}

.cta .button:hover {
    background-color: #5e96d1;
}

@media screen and (max-width: 50rem) {
    .cta *:not(.button) {
        display: none;
    }

    .cta {
        background-color: transparent;
    }
}

.events-weather {
    display: inline;
    text-align: center;
    /* grid-template-columns: 2fr 1fr; */
    /* column-gap: 5px; */
}

.events,
.weather {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 2px;
}

.spotlights {
    display: inline;
    text-align: center;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* column-gap: 5px; */
}

.spotlight {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 2px;
}

.dark-mode::after {
    color: #fff;
    /* Your dark mode color */
}

footer {
    background-color: #9ee2de;
    margin-top: 10px;
    text-align: center;
    color: #292F36;
    justify-content: space-between;
    font-weight: bolder;
    padding: 10px;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.contact p {
    border-top: none;
}

#address {
    display: flex;
    align-items: center;
    justify-content: end;
}

#address p {
    margin: 0;
}

#address p span {
    display: block;
}

#address p span:first-child {
    color: black;
    font-weight: bolder;
    font-size: large;
}

#site p a {
    font-style: inherit;
    color: inherit;
}

footer p {
    padding: 5px;
    border-top: 1px solid gray;
}

footer p:last-child {
    font-size: .9rem;
    border-top: none;
}

footer #name {
    color: black;
    font-weight: bolder;
    font-size: large;
}

main {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

picture img {
    width: 100%;
    opacity: 0;
    animation: fade 15s ease forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}