@media only screen and (min-width: 50rem) {

    #menu {
        display: none;
    }

    #mode {
        top: 220px;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    nav ul li {
        flex-grow: 1;
        align-items: center;
    }

    nav ul li:last-child {
        margin-right: 0;
    }

    .events-weather {
        display: grid;
        grid-template-columns: 2fr 1fr;
        /* column-gap: 5px; */
    }

    .events,
    .weather {
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 2px;
    }

    .spotlights {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* column-gap: 5px; */
    }

    .spotlight {
        flex: 1;
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 2px;
    }
}