* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(10, 40, 110, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    border: 1px black;
    box-shadow: 1px 1px 1px 1px black;
    margin: 5px;
}

header span {
    margin: 10px;
    font-size: 2rem;
    font-weight: bolder;
    color: whitesmoke;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: .8rem;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.2rem;
}

nav a:hover {
    background-color: rgba(80, 76, 76, 0.876);
}

nav .active {
    background-color: rgba(180, 97, 97, 0.607);
}

/* start of hamburger menu */

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 160px;
    right: 2px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "▲";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

.open a {
    display: block;
}

/* end of hamburger menu */

#mode {
	position: absolute;
	top: 170px;
	left: 2px;
	cursor: pointer;
	font-size: 1rem;
    color: darkblue;
    background-color: #fff;
}

main {
    margin: 3rem;
}

main h1 {
    font-size: 1.8rem;
    padding: 20px;
    margin-bottom: -40px;
    align-items: center;
    color: rgb(23, 4, 4);
}

.container {
    margin-top: -40px;
    margin: 2rem 1vw;
    padding: 20px;
}

.card {
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    margin: 1rem 0;
    overflow: hidden;
}

.container h2 {
    background-color: rgb(46, 86, 167);
    text-align: center;
    color: white;
    padding: 10px;
}

.activities,
p {
    padding: 5px;
    list-style-type: none;
}

.card p {
    text-align: center;
}

.activities li {
    margin: 5px;
    list-style: none;
    margin-bottom: 10px;
}

.activities li a {
    color: darkblue;
    text-decoration: none;
    font-weight: bolder;
}

.activities li ul {
    display: inline;
    padding: 5px;
    /* margin: 0; */
}

.activities li ul li {
    display: inline;
    /* margin-right: 10px; */
}

.activities li ul li a {
    color: darkgreen;
    text-decoration: underline;
    font-weight: bolder;
}

.activities li ul li:not(:last-child)::after {
    content: " |";
    margin-left: 10px;
    /* margin-right: 5px; */
    color: darkgreen;
}

footer {
    background-color: rgba(10, 40, 110, 0.8);
    margin-top: -10px;
    text-align: center;
    color: white;
    justify-content: space-between;
    font-weight: bolder;
}

footer p:last-child {
    font-size: .8rem;
    color: white;
}

footer img {
    display: inline;
    vertical-align: middle;
}